// Нужно будет удалить после обновления common

.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

.about__img-wrapper {
  width: 243px;

  margin-bottom: 20px;
}

.about__sub-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  margin-bottom: 30px;

  &::after {
    display: block;
    margin-top: 10px;

    content: '';
    width: 100%;

    height: 1px;

    background-color: #b9b9b9;
  }
}

.about__list {
  margin-bottom: 23px;
  &::after {
    display: block;

    content: ' ';
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
    margin-top: 20px;
  }
}

.about__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  padding-left: 27px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 17px;
    height: 14px;
    background-image: url(../images/about-icon-chek.svg);
  }
}

.about__text-wrapper {
  margin-bottom: 10px;
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;

  color: var(--font-color-secondary);

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.about__link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;
  text-decoration: underline;
}
