/* -----About----- */
.section__about {
  padding-bottom: 50px;

  @include desktop {
    padding-bottom: 130px;
  }
}

.about__title {
  @include font-pm(20, 0.03, 800, 26);
  margin-bottom: 20px;

  @include tablet {
    font-size: 26px;

    margin-bottom: 30px;
  }
  @include desktop {
    font-size: 46px;

    margin-bottom: 50px;
  }
}

.about__wrapper {
  @include tablet {
    display: flex;
  }

  @include desktop {
    max-width: 1205px;
  }
}

.about__img {
  height: 305px;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-right: 40px;
  }
  @include desktop {
    margin-right: 30px;
    width: 530px;
    height: 667px;
  }
}

.about__sub-title {
  margin-bottom: 20px;

  @include font-pm(20, 0.08, 800, 24.38);

  @include desktop {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &::after {
    display: block;
    margin-top: 10px;

    @include desktop {
      margin-bottom: 15px;
    }
    content: '';
    width: 100%;

    height: 1px;

    background-color: #b9b9b9;
  }
}

.about__list {
  &::after {
    display: block;

    content: ' ';
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
    margin-top: 20px;
  }
}

.about__item {
  @include font-pm(14, 0.06, 600, 17.07);

  padding-left: 27px;

  position: relative;

  @include desktop {
    @include font-pm(16, 0.06, 600, 20);
  }

  &:not(:last-child) {
    margin-bottom: 27px;
    @include tablet {
      margin-bottom: 37px;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 17px;
    height: 14px;
    background-image: url(../images/about-icon-chek.svg);
  }
}

.about__text-wrapper {
  margin-top: 25px;

  @include desktop {
    margin-top: 35px;
  }
}

.about__paragraph {
  @include font-pm(12, 0, 500, 20);

  color: var(--font-color-secondary);

  &:not(:first-child) {
    margin-top: 25px;
  }

  @include desktop {
    @include font-pm(18, 0, 500, 28);

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.about__link {
  margin-top: 10px;
  display: inline-block;

  color: var(--accent-color);

  @include font-pm(12, 0, 500, 20);

  text-decoration: underline;

  @include desktop {
    @include font-pm(18, 0, 500, 28);

    margin-top: 20px;
  }
}
