.advantages {
  padding-top: 30px;
  padding-bottom: 50px;

  background-color: var(--bg-color-light);

  @include tablet {
    padding-top: 50px;
  }

  @include desktop {
    padding-bottom: 130px;
  }
}

.advantages__list {
  padding: 0 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    padding: 0;
    margin-left: calc(-1 * 1px);
    margin-top: calc(-1 * 1px);
  }

  @include desktop {
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  padding-left: 69px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 0;

    flex-basis: calc(100% / 3 - 1px);
  }

  @include desktop {
    padding-left: 82px;

    @include font-pm(20, 0.08, 800, 33);
  }
}

.advantages__item {
  &::before {
    width: 59px;
    height: 60px;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(../images/advantages-female.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include desktop {
      width: 100px;
      height: 102px;

      background-image: url(../images/advantages-female-desktop.svg);
    }
  }

  &:nth-child(1)::before {
    background-image: url(../images/advantages-female.svg);

    @include desktop {
      background-image: url(../images/advantages-female-desktop.svg);
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/advantages-mobile-learning.svg);

    @include desktop {
      background-image: url(../images/advantages-mobile-learning-desktop.svg);
    }
  }

  &:nth-child(3)::before {
    background-image: url(../images/advantages-insurance.svg);

    @include desktop {
      background-image: url(../images/advantages-insurance-desktop.svg);
    }
  }
}

.advantages__text {
  display: block;

  min-height: 57px;
  max-width: 140px;

  @include font-pm(14, 0.08, 700, 20);

  @include tablet {
    max-width: unset;
  }

  @include desktop {
    @include font-pm(19, 0.08, 800, 33);
  }
}
