.advantages {
  padding-top: 30px;
  padding-bottom: 50px;

  background-color: var(--bg-color-light);

  @include tablet {
    padding-top: 50px;
  }

  @include desktop {
    padding-bottom: 130px;
  }
}

.advantages__list {
  padding: 0 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    padding: 0;
    margin-left: calc(-1 * 1px);
    margin-top: calc(-1 * 1px);
  }

  @include desktop{
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  padding-left: 69px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.08em;

  @include tablet {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 0;
    // добавить margin-bottom: 30px; если будет более трех элементов в секции
    // margin-bottom: 30px;
    flex-basis: calc(100% / 3 - 1px);
    
  }

  @include desktop {
    padding-left: 82px;
    font-size: 20px;
    line-height: 33px;
    font-weight: 800;
     // добавить margin-bottom: 45px; если будет более трех элементов в секции
    // margin-bottom: 45px;
  }
}

.advantages__item {
  &::before {
    width: 59px;
    height: 60px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    // заглушка на случай добавления большего количества advantages__item
    background-image: url(../images/advantages-female.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include desktop {
      width: 100px;
      height: 102px;
      top: -18px;
      left: -5px;
    }
  }

  &:nth-child(1)::before {
    background-image: url(../images/advantages-female.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/advantages-mobile-learning.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/advantages-insurance.svg);
  }
}

.advantages__text {
  display: block;

  min-height: 57px;
  max-width: 140px;

  @include tablet {
    max-width: unset;
  }
}
