.benefits {
  padding-top: 50px;
  background: linear-gradient(180deg, var(--bg-color-dark) 50%, var(--bg-color-light) 50%);
  @include tablet {
    padding: 0;
  }
  @include desktop {
    min-width: 1280px;
    padding: 0;
  }
  &__title {
    color: var(--bg-color-light);
    @include font-pm(20, 0.03, 800, 27.2);
    max-width: 56.25%;
    @include tablet {
      @include font-pm(26, 0.03, 800, 33.8);
      text-align: center;
      margin: auto;
    }

    @include desktop {
      opacity: 0;
    }
  }
  &__list {
    position: relative;

    counter-reset: section;
    background-color: var(--bg-color-light);
    padding: 20px 14px 20px 30px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      padding-left: 98px;
      padding-right: 118px;
    }
    @include desktop {
      margin-top: -32px;
      padding: 70px 83px 70px 84px;
      box-shadow: -5px 8px 26px rgb(0 0 0 / 4%);
      overflow: hidden;
      justify-content: space-between;
    }
  }
  &__item {
    @include font-pm(14, 0.08, 700, 20);

    &:not(last-child) {
      margin-bottom: 20px;
    }
    @include tablet {
      flex-basis: calc((100% - 20px) / 2);
      margin-top: 30px;
    }
    @include desktop {
      @include font-pm(20, 0.08, 700, 24.38);
      flex-basis: calc((100% - 40px) / 3);
      margin-top: 32px;
    }
    &::before {
      display: block;
      counter-increment: section;
      content: '— 0' counter(section) ' ';
      color: var(--accent-color);
      margin-bottom: 10px;
    }
  }
  &__description {
    color: var(--font-color-main);
    @include font-pm(14, 0.08, 700, 20);

    @include tablet {
      @include font-pm(14, 0.08, 700, 20);
    }
    @include desktop {
      @include font-pm(20, 0.08, 700, 24);
    }
  }
}
.index {
  z-index: 3;
}
