.footer {
  padding-top: 30px;

  @media screen and (max-width: 767px) {
    padding-top: 40px;
    text-align: center;
  }
  @media screen and (max-width: 1280px) {
    padding-top: 52px;
  }
}

.logo--footer {
  display: inline-block;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 290px;
  }
}

.logo__text--top {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  margin-bottom: 5px;
}
.logo__text--bottom {
  font-size: 8px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0.18em;
}

.logo-icon {
  margin-right: 4px;
  margin-left: 4px;
  fill: var(--accent-color);
}

.footer-contacts {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and(min-width: 768px) and (max-width: 1279px) {
    justify-content: space-between;
  }
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and(max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and(min-width: 768px) {
    flex-direction: row;
  }
}

.footer-contacts__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    &:first-child {
      margin-right: 24px;
    }
  }
}

.footer-contacts__link--phone {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;

    background-image: url(../images/phone.svg);
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 10px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 23px;
    }
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 29px;
    }
  }

  @media screen and(min-width: 768px) {
    &::after {
      content: '';
      width: 1px;
      height: 40px;
      border: 1px solid var(--border-color);

      margin-left: 24px;
    }

    @media screen and(min-width: 1280px) {
      &::after {
        margin-left: 16px;
      }
    }
  }
}

.rights {
  min-width: 320px;
  background-color: var(--bg-color-dark);

  @media screen and(min-width: 768px) {
    margin-top: 40px;
  }
}

.rights__text {
  padding-top: 21px;
  padding-bottom: 21px;

  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0em;

  color: var(--font-color-secondary);
}
