.footer {
  padding-top: 30px;

  @media screen and (max-width: 767px) {
    padding-top: 40px;
    text-align: center;
  }
  @media screen and (max-width: 1279px) {
    padding-top: 52px;
  }
}

.logo--footer {
  display: inline-block;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-right: 290px;
  }
}

.logo__text--top {
  display: flex;
  align-items: center;
  justify-content: center;

  @include font-pm(26, 0.04, 800, 31);
  margin-bottom: 5px;
}
.logo__text--bottom {
  @include font-pm(8, 0.18, 700, 9.75);
}

.logo-icon {
  margin-right: 4px;
  margin-left: 4px;
  fill: var(--accent-color);
}

.footer-contacts {
  @include tablet {
    display: flex;
    align-items: center;
  }
  @media screen and(min-width: 768px) and (max-width: 1279px) {
    justify-content: space-between;
  }
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and(max-width: 767px) {
    margin-bottom: 30px;
  }

  @include tablet {
    flex-direction: row;
  }
}

.footer-contacts__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @include tablet {
    &:first-child {
      margin-right: 24px;
    }
  }
}

.footer-contacts__link--phone {
  display: flex;
  align-items: center;

  @include font-pm(14, 0.08, 600, 17.07);
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 30px;
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;

    background-image: url(../images/phone.svg);
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 10px;

    @include tablet {
      width: 24px;
      height: 23px;
    }
    @include desktop {
      width: 30px;
      height: 29px;
    }
  }

  @include tablet {
    &::after {
      content: '';
      width: 1px;
      height: 40px;
      border: 1px solid var(--border-color);

      margin-left: 24px;
    }

    @include desktop {
      &::after {
        margin-left: 16px;
      }
    }
  }
}

.rights {
  min-width: 320px;
  background-color: var(--bg-color-dark);

  @include tablet {
    margin-top: 40px;
  }
}

.rights__text {
  padding-top: 21px;
  padding-bottom: 21px;

  @include font-pm(14, 0, 500, 28);
  color: var(--font-color-secondary);
}
