.hero {
  @include backGround(center, no-repeat, cover);
  margin: 0 auto;
  @media screen and(max-width: $mobile) {
    min-width: 320px;
    max-width: $mobile;
    height: 618px;
    background-image: url(../images/hero-mobile-background.svg);
  }

  @include tablet {
    max-width: $tablet;
    height: 556px;
    background-image: url(../images/hero-tablet-background.svg);
  }

  @include desktop {
    position: relative;
    max-width: 1688px;
    height: 878px;
    background-image: url(../images/hero-desktop-background.svg);
  }
}

.hero__container {
  position: relative;
  max-width: $mobile;
  margin: 0 auto;
  height: 618px;
  padding: 0 20px;
  padding-top: 110px;

  @media screen and(min-width: $tablet) {
    max-width: $tablet;
    display: flex;
    height: auto;
    padding-top: 158px;
  }

  @media screen and(min-width: $desktop) {
    max-width: 1280px;
    height: auto;
  }
}

.hero__header {
  margin-bottom: 30px;
  color: var(--font-color-main);
  font-family: Montserrat;
  @include font-pm(20, 0.03, 800, 27);
  font-style: normal;

  @media screen and(min-width: $tablet) {
    margin-top: 0;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  @media screen and(min-width: $desktop) {
    font-size: 58px;
  }
}

.hero__text {
  margin-bottom: 30px;
  font-family: Montserrat;
  @include font-pm(14, 0.08, 700, 22);
  font-style: normal;

  @media screen and(min-width: $tablet) {
    width: 300px;
  }

  @media screen and(min-width: $desktop) {
    font-size: 20px;
    line-height: 1.649;
    width: 576px;
  }
}

.hero__text--grey {
  color: var(--border-color);
  font-weight: 500;
}

.hero__text--orange {
  color: var(--accent-color);
}

.hero__btn {
  @include font-pm(12, 0.08, 700, 15);
  display: block;
  width: 260px;
  margin: 0 auto 30px;
  padding: 14px 1px;
  background-color: var(--accent-color);
  color: var(--font-color-light);
  border: 1px solid transparent;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  transition: color var(--transiton-duration-time) var(--timing-fn),
    background-color var(--transiton-duration-time) var(--timing-fn),
    border-color var(--transiton-duration-time) var(--timing-fn);

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--font-color-light);
  border: 1px solid var(--accent-color);
}

.hero__picture {
  width: 208px;
  height: 178px;
  margin: 0 auto;
  background-image: url(../images/hero-mobile-single.png);
  @media screen and(min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero-mobile-single@2x.png);
    background-size: 208px;
  }

  @media screen and(min-width: $tablet) {
    position: absolute;
    top: 40px;
    left: 374px;
    width: 376px;
    height: 321px;
    background-image: url(../images/hero-tablet-single.png);

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-tablet-single@2x.png);
      background-size: 376px 321px;
    }
  }

  @media screen and(min-width: $desktop) {
    position: absolute;
    top: 149.5px;
    left: 610px;
    width: 841px;
    height: 718px;
    margin: 0;
    background-image: url(../images/hero-desktop-single.png);
    background-size: 841px 718px;

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-desktop-single@2x.png);
      background-size: 841px 718px;
    }
  }
}

.hero__wrapper {
  @media screen and(min-width: $tablet) {
    box-sizing: border-box;
    width: 333px;
    padding-right: 50px;
  }
  @media screen and(min-width: $desktop) {
    width: 642px;
    margin-top: 70px;
  }
}
