.hero {
  @media screen and(max-width: $mobile) {
    min-width: 320px;
    max-width: $mobile;
    height: 618px;
    margin: 0 auto;
    background-image: url(../images/hero-background.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    background-size: cover;
  }

  @media screen and(min-width: $tablet) {
    max-width: $tablet;
    height: 556px;
    background-image: url(../images/hero-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and(min-width: $desktop) {
    max-width: 1688px;
    height: 878px;
    background-image: url(../images/hero-background-big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hero__container {
  position: relative;
  margin: 0 auto;
  max-width: $mobile;
  height: 618px;
  padding: 0 20px;
  padding-top: 110px;

  @media screen and(min-width: $tablet) {
    max-width: $tablet;
    display: flex;
    height: auto;
    padding-top: 158px;
  }

  @media screen and(min-width: $desktop) {
    max-width: 1280px;
    height: auto;
  }
}

.hero__header {
  margin-bottom: 30px;
  color: var(--font-color-main);
  font-family: Montserrat;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  @media screen and(min-width: $tablet) {
    margin-top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  @media screen and(min-width: $desktop) {
    font-size: 58px;
  }
}

.hero__text {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5714;
  letter-spacing: 0.08em;

  @media screen and(min-width: $tablet) {
    width: 300px;
  }

  @media screen and(min-width: $desktop) {
    font-size: 20px;
    line-height: 1.649;
    width: 576px;
  }
}

.hero__text--grey {
  color: var(--border-color);
  font-weight: 500;
}

.hero__text--orange {
  color: var(--accent-color);
}

.hero__btn {
  display: block;
  width: 260px;
  margin: 0 auto 30px;
  padding: 14px 1px;
  background-color: var(--accent-color);
  color: var(--font-color-light);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}

.hero__img {
  margin: 0 auto 47px;
}

.hero__picture {
  width: 208px;
  height: 178px;
  margin: 0 auto;
  background-image: url(../images/hero-mobile.png);
  @media screen and(min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero-mobile@2x.png);
    background-size: 208px;
  }

  @media screen and(min-width: $tablet) {
    width: 376px;
    height: 321px;
    background-image: url(../images/hero-teacher-hd.png);

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-teacher-hd@2x.png);
      background-size: 376px 321px;
    }
  }

  @media screen and(min-width: $desktop) {
    position: absolute;
    top: 0;
    right: -185px;
    width: 842px;
    height: 718px;
    margin: 0;
    background-image: url(../images/hero-teacher-fhd.png);
    background-size: 842px 719px;

    @media screen and(min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-teacher-fhd@2x.png);
      background-size: 842px 719px;
    }
  }
}

.hero__wrapper {
  @media screen and(min-width: $tablet) {
    width: 333px;
  }
  @media screen and(min-width: $desktop) {
    width: 642px;
  }
}
