/* -----Logo----- */

// example:
// .logo {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   text-decoration: none;

//   &--footer {
//     color: var(--font-color-white);
//   }
// }

// .logo__accent {
//   color: var(--accent-color);
// }

.logo__link {
  color: var(--font-color-light);
}

.logo__link--header {
  color: var(--font-color-main);
}

.logo__text-top {
  @include font-pm(18, 0.08, 800, 24);

  @include tablet {
    @include font-pm(26, 0.04, 800, 32);
  }

  @include desktop {
    // @include font-pm(26, 0.04, 800, 32);
    white-space: nowrap;
  }
}

.logo__icon {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  fill: var(--accent-color);

  @include tablet {
    margin-left: 4px;
    margin-right: 4px;
    width: 22px;
    height: 30px;
  }

  @include desktop {
    margin-left: 4px;
    margin-right: 4px;
    width: 22px;
    height: 30px;
  }
}

.logo__text-en {
  text-transform: uppercase;
}

.logo__text-bottom {
  margin-top: -1px;
  text-transform: uppercase;
  @include font-pm(6, 0.09, 800, 10);

  @include tablet {
    margin-top: 5px;
    @include font-pm(8, 0.2, 700, 10);
  }

  @include desktop {
    margin-top: 5px;
    @include font-pm(8, 0.2, 700, 10);
  }
}

.logo__text-bottom--accent {
  color: var(--accent-color);
}
