/* -----Mobile menu----- */

.mobile-menu {
  position: fixed;
  min-width: 320px;
  max-width: 767px;
  overflow-y: scroll;
  top: 0;
  right: 0;
  z-index: 10;
  padding-top: 30px;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color-op);

  transform: translateX(101%);
  transition: transform var(--transiton-duration-time) var(--timing-fn);

  @include tablet {
    padding-top: 40px;
    min-width: 768px;
    max-width: 1279px;
  }

  @include desktop {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 72px;
  }
}

.mobile-menu__btn-close {
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu__nav {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mobile-menu__list {
  @include tablet {
    text-align: left;
  }
}

.mobile-menu__link {
  color: var(--font-color-light);
  @include font-pm(20, 0.03, 800, 36);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include tablet {
    @include font-pm(26, 0.03, 800, 47);
  }
}

.mobile-menu__btn-cons {
  margin-left: auto;
  margin-right: auto;
  padding: 14px 15px;
  background-color: transparent;
  border: 2px solid var(--accent-color);

  @include font-pm(12, 0.08, 700, 15);
  text-transform: uppercase;
  color: var(--accent-color);

  @include flexCenter;

  @include tablet {
    display: none;
  }
}
