.problems {
  position: relative;
  background: linear-gradient(to bottom, var(--bg-color-dark) 73%, var(--bg-color-light) 27%);
  padding-bottom: 50px;
  z-index: -2;

  @include tablet {
    background: linear-gradient(to bottom, var(--bg-color-dark) 61%, var(--bg-color-light) 39%);
    @include desktop {
      background: linear-gradient(
        to bottom,
        var(--bg-color-dark) 71.5%,
        var(--bg-color-light) 28.5%
      );
      padding-bottom: 130px;
    }
  }
}

.problems::before {
  // display: none;

  @include desktop {
    content: '';
    position: absolute;
    width: 455px;
    height: 472px;
    bottom: 25%;
    right: -60px;
    background: url(../images/fire.svg) no-repeat;
    background-size: 455px 472px;
    z-index: -1;
    fill: #3d3d3d;
  }
}

.problems__wrapper {
  background: var(--bg-color-light);
  padding: 20px 30px;
  box-shadow: -5px 8px 26px rgb(0 0 0 / 4%);

  @include tablet {
    padding: 30px 109px 26px 96px;
  }
  @include desktop {
    padding: 70px 112px 62px 114px;
  }
}

.problems__title {
  padding-top: 50px;
  margin-bottom: 27px;
  color: var(--bg-color-light);

  @include font-pm(20, 0.03, 800, 27);

  @include tablet {
    padding-top: 60px;
    margin-bottom: 25px;
  }
  @include desktop {
    padding-top: 100px;
    margin-bottom: 70px;
  }
}

.problems__list {
  padding: 0;
  // background: var(--bg-color-light);
  // padding: 20px 30px;
  // box-shadow: -5px 8px 26px rgb(0 0 0 / 4%);

  // counter-reset: cnt;
  // list-style-type: none;
  margin: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -24px;
    margin-left: -22px;

    @include desktop {
      margin-top: -70px;
      margin-left: -40px;
    }
  }
}

.problems__item {
  @include font-pm(14, 0.08, 700, 24);

  @include tablet {
    flex-basis: calc(50% - 22px);
    margin-top: 24px;
    margin-left: 22px;

    @include desktop {
      flex-basis: calc(33.33% - 40px);
      margin-top: 70px;
      margin-left: 40px;
      width: 336px;
    }
  }
}

.problems__item:not(:last-child) {
  margin-bottom: 10px;
}

.problems__item::before {
  counter-increment: section;
  content: '— ' counter(section, decimal-leading-zero) ' ';
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  margin-bottom: 5px;

  @include font-pm(14, 0.08, 700, 17.07);
}
