.problems {
  position: relative;
  background: linear-gradient(to bottom, var(--bg-color-dark) 73%, var(--bg-color-light) 27%);
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -2;
  overflow: hidden;

  @include tablet {
    background: linear-gradient(to bottom, var(--bg-color-dark) 63%, var(--bg-color-light) 37%);
    padding-top: 60px;
    @include desktop {
      padding-top: 100px;
      padding-bottom: 130px;
    }
  }
}

@media (min-width: 1281px) {
  .problems {
    background: linear-gradient(to bottom, var(--bg-color-dark) 66.5%, var(--bg-color-light) 33.5%);
  }
}

.problems__container {
  position: relative;
  // overflow: hidden;
  // z-index: -2;
}

@media (width: 1280px) {
  .problems__container::before {
    // @include desktop {
    content: '';
    position: absolute;
    width: 407px;
    height: 472px;
    right: -180px;
    background: url(../images/fire-bg.svg) no-repeat;
    background-size: contain;
    z-index: -1;
    top: -13px;
  }
}

// .problems::before {
//   @include desktop {
//     content: '';
//     position: absolute;
//     width: 445px;
//     height: 620px;
//     right: -200px;
//     background: url(../images/fire-bg.svg) no-repeat;
//     background-size: contain;
//     z-index: -1;
//     top: 88px;
//   }
// }

@media (min-width: 1281px) {
  .problems::before {
    content: '';
    position: absolute;
    width: 407px;
    height: 472px;
    right: 0px;
    background: url(../images/fire-bg.svg) no-repeat;
    background-size: contain;
    z-index: -1;
    top: 92px;
  }
}

.problems__wrapper {
  background: var(--bg-color-light);
  padding: 20px 30px;
  box-shadow: -5px 8px 26px rgb(0 0 0 / 4%);

  @include tablet {
    padding: 30px 109px 26px 96px;
  }
  @include desktop {
    padding: 70px 112px 62px 114px;
  }
}

.problems__title {
  // padding-top: 50px;
  margin-bottom: 27px;
  color: var(--bg-color-light);

  @include font-pm(20, 0.03, 800, 27);

  @include tablet {
    // padding-top: 60px;
    margin-bottom: 25px;
    @include font-pm(26, 0.03, 800, 33.8);
  }
  @include desktop {
    // padding-top: 100px;
    margin-bottom: 70px;
    // padding-left: 40px;
    @include font-pm(46, 0.03, 800, 59.8);
  }
}

.problems__list {
  padding: 0;
  margin: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
    margin-left: -22px;

    @include desktop {
      margin-top: -32px;
      margin-left: -40px;
    }
  }
}

.problems__item {
  @include font-pm(14, 0.08, 700, 17.07);

  @include tablet {
    flex-basis: calc(50% - 22px);
    margin-top: 24px;
    margin-left: 22px;

    @include desktop {
      flex-basis: calc(33.33% - 40px);
      margin-top: 32px;
      margin-left: 40px;
      // width: 336px;
      @include font-pm(20, 0.08, 700, 32.98);
    }
  }
}

.problems__text {
  @include font-pm(14, 0.08, 700, 20);

  @include desktop {
    @include font-pm(20, 0.08, 700, 28);
  }
}

.problems__item:not(:last-child) {
  margin-bottom: 10px;
}

.problems__item::before {
  counter-increment: section;
  content: '— ' counter(section, decimal-leading-zero) ' ';
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  margin-bottom: 5px;

  @include font-pm(14, 0.08, 700, 23.09);

  @include desktop {
    @include font-pm(20, 0.08, 700, 32.98);
  }
}

.problems__title-mobile {
  display: block;
  @include tablet {
    display: inline;
  }
}

.problems__title-tablet {
  @include tablet {
    display: block;
  }
}
