/* -----Variables----- */
:root {
  // Background colors
  --bg-color-light: #fff;
  --bg-color-pale: #f1f1f1;
  --bg-color-dark: #111518;
  --bg-color-accented: #ff6b09;
  // Font colors
  --font-color-main: #111518;
  --font-color-secondary: #b9b9b9;
  --font-color-light: #fff;
  --font-color-guarantee: #3d3d3d;
  // Accent colors
  --accent-color: #ff6b09;
  // Border colors
  --border-color: #b9b9b9;
  --border-color-light: #fff;
  // Opacity settings
  // Boxshadow settings
  // Gaps measures (for ex. "--item-set-gap: 20px;")
  // Animation settings
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --transiton-duration-time: 250ms;
  // Backdrop opacity settings
  --backdrop-color-op: rgba(17, 21, 24, 0.9);
  // Linear gradient
  --contacts-linear-gradient: linear-gradient(
    to right,
    rgba(17, 21, 24, 0.8),
    rgba(17, 21, 24, 0.8)
  );
}

// Breakpoint
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
