<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">Почему нас выбирают</h2>
    <ol class="benefits__list">
      <li class="benefits__item">
        <p>Обучение в малых командах</p>
      </li>
      <li class="benefits__item">
        <p>Визуализированные конспекты</p>
      </li>
      <li class="benefits__item">
        <p>Каждое занятие имеет цель и конкретный результат</p>
      </li>
      <li class="benefits__item">
        <p>Ревльные результаты преподавателя</p>
      </li>
      <li class="benefits__item">
        <p>Прогамма курса соответствует требованиям МОН Украины</p>
      </li>
      <li class="benefits__item">
        <p>Набор команд по уровням знаний</p>
      </li>
    </ol>
  </div>
</section>
