<footer class="footer">
  <div class="container">
    <div class="footer-contacts" id="footer-contacts">
      <a class="logo logo--footer" href="index.html"
        >Hell
        <svg width="14" height="19">
          <use href=""></use>
        </svg>
        en
        <p>адский английский</p>
      </a>

      <ul class="footer-contacts__list">
        <li class="footer-contacts__item">
          <svg>
            <use href=""></use>
          </svg>
          <a class="footer-contacts__link" href="tel:+38(000)0000000"> +38 (000) 000 00 00</a>
        </li>
        <li class="footer-contacts__item">
          <a class="footer-contacts__link" target="_blank" href="#"></a>
        </li>
      </ul>
    </div>

    <p class="rights">&#64; Все права защищены, 2019</p>
  </div>
</footer>
