<footer class="footer">
  <div class="container">
    <div class="footer-contacts" id="footer">
      <a class="logo logo--footer" href="./index.html">
        <p class="logo__text--top">
          Hell
          <svg class="logo-icon" width="22" height="30">
            <use href="./images/sprite.svg#icon-fire"></use>
          </svg>
          EN
        </p>
        <p class="logo__text--bottom">
          <span class="accent-text-color">АДСКИЙ</span> АНГЛИЙСКИЙ
        </p></a
      >

      <ul class="footer-contacts__list">
        <li class="footer-contacts__item">
          <a class="footer-contacts__link footer-contacts__link--phone" href="tel:+38(000)0000000">
            +38 (000) 000 00 00</a
          >
        </li>
        <li class="footer-contacts__item">
          <a class="footer-contacts__link" target="_blank" href="#">
            <img src="./images/instagram.svg" alt="Иконка инстаграмма" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rights">
    <div class="container"><p class="rights__text">&#64; Все права защищены, 2019</p></div>
  </div>
</footer>
