<header>
  <a href=""
    >Hell
    <svg width="14" height="19">
      <use href=""></use>
    </svg>
    en
    <p>адский английский</p>
  </a>

  <ul>
    <li><a href="">Программы обучения</a></li>
    <li><a href="">О нас</a></li>
    <li><a href="">Варианты обучения</a></li>
    <li><a href="">Контакты</a></li>
  </ul>

  <button>Консультация по телефону</button>
  <button aria-controls="mobile-menu">
    <svg width="20" height="12">
      <use href=""></use>
    </svg>
  </button>
</header>
