<header>
  <div class="container">
    <div class="header-content" id="header">
      <a href="#header" class="logo__link logo__link--header"
        ><p class="logo__text-top">
          Hell
          <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-fire"></use>
          </svg>
          <span class="logo__text-en"> en</span>
        </p>
        <div class="logo__text-bottom">
          <p><span class="logo__text-bottom--accent">адский</span> английский</p>
        </div>
      </a>

      <div class="header-nav">
        <nav>
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a href="#program" class="header-nav__link">Программы обучения</a>
            </li>
            <li class="header-nav__item"><a href="#about" class="header-nav__link">О нас</a></li>
            <li class="header-nav__item">
              <a href="" class="header-nav__link">Варианты обучения</a>
            </li>
            <li class="header-nav__item">
              <a href="#footer" class="header-nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__btn-list">
        <button type="button" class="header__btn">Консультация по телефону</button>

        <button
          type="button"
          class="header__mobile-menu js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="header__mobile-menu-icon" width="20" height="12">
            <use href="./images/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
