<section class="hero">
    <div class="container hero__container">
        <div class="hero__wrapper">
            <h1 class="hero__header">Комплексная подготовка к ВНО
                по английскому языку</h1>
            <p class="hero__text"><span class="hero__text hero__text--grey">Просто не будет.</span><br>
                Но ты гарантировано наберешь
                <span class="hero__text hero__text--orange">+25 баллов</span>
            </p>
            <a class="hero__btn" href="#footer">хочу на бесплатное занятие</a>
        </div>
        <div class="hero__picture"></div>
    </div>
</section>
