<div class="mobile-menu container">
  <div class="mobile-menu__header">
    <a href="" class="logo__link"
      ><p class="logo__text-top">
        Hell
        <svg class="logo__icon" width="15" height="20">
          <use href="./images/sprite.svg#icon-fire"></use>
        </svg>
        <span class="logo__text-en"> en</span>
      </p>
      <div class="logo__text-bottom">
        <p><span>адский</span> английский</p>
      </div>
    </a>
    <button type="button" class="mobile-menu__btn-close">
      <svg class="mobile-menu__btn-close-icon" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Программа обучения</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">О нас</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Варианты обучения</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Контакты</a>
      </li>
    </ul>
  </nav>

  <button type="button" class="mobile-menu__btn-cons">Консультация по телефону</button>
</div>
