<div class="mobile-menu container">
  <div class="mobile-menu__header">
    <a href=""
      >Hell
      <svg width="14" height="19">
        <use href="./images/sprite.svg#icon-fire"></use>
      </svg>
      en
      <p>адский английский</p>
    </a>
    <button class="mobile-menu__btn-close">
      <svg width="15" height="15">
        <use href="./images/sprite.svg#icon-fire"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Программа обучения</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">О нас</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Варианты обучения</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Контакты</a>
      </li>
    </ul>
  </nav>

  <button class="mobile-menu__btn-cons">Консультация по телефону</button>
</div>
