<div>
  <a href=""
    >Hell
    <svg width="14" height="19">
      <use href=""></use>
    </svg>
    en
    <p>адский английский</p>
  </a>
  <button>
    <svg width="15" height="15">
      <use href=""></use>
    </svg>
  </button>

  <nav>
    <ul>
      <li>
        <a href="">Программа обучения</a>
      </li>
      <li>
        <a href="">О нас</a>
      </li>
      <li>
        <a href="">Варианты обучения</a>
      </li>
      <li>
        <a href="">Контакты</a>
      </li>
    </ul>
  </nav>

  <button>Консультация по телефону</button>
</div>
