<section class="problems">
  <!-- <div class="problems__wrapper"> -->
  <div class="container problems__container">
    <h2 class="problems__title">
      Главные проблемы учеников <br />
      на English ВНО, которые <br />
      мы <span class="accent-text-color">помогаем</span> решить
    </h2>
    <div class="problems__wrapper">
      <ol class="problems__list">
        <li class="problems__item">Название грамматики</li>
        <li class="problems__item">Неумение воcпринимать устную английскую речь</li>
        <li class="problems__item">Скупой словарный запас для написания сочинения</li>
        <li class="problems__item">Подготовка в одиночку</li>
        <li class="problems__item">Отсутствие единого ресурса знаний</li>
        <li class="problems__item">Недостаток самоорганизации и лень</li>
      </ol>
    </div>
  </div>

  <!-- </div> -->
</section>
