<section class="problems">
  <div class="container">
    <h2 class="problems__title">
      Главные проблемы учеников
      <span class="problems__title-tablet"
        ><span class="problems__title-mobile">на English ВНО,</span>
        <span class="problems__title-mobile">которые</span></span
      >
      мы <span class="accent-text-color">помогаем</span> решить
    </h2>
    <div class="problems__wrapper">
      <ol class="problems__list">
        <li class="problems__item">Название грамматики</li>
        <li class="problems__item">Неумение воcпринимать устную английскую речь</li>
        <li class="problems__item">Скупой словарный запас для написани сочинения</li>
        <li class="problems__item">Подготовка в одиночку</li>
        <li class="problems__item">Отсутствие единого ресурса знаний</li>
        <li class="problems__item">Недостаток самоорганизации и лень</li>
      </ol>
    </div>
  </div>
</section>
