<section class="program__border--desktop program--background program__border--desktop" id="program">
  <div class="container">
    <div class="program program--background-img">
      <h2 class="program__title">Наша программа</h2>
      <ol class="program__list">
        <li class="program__item program--border">
          <h3 class="program__title--counter"><span class="counter">1</span>Семестp</h3>
          <ul class="semester">
            <li class="program__semester">
              <h4 class="program__subtitle">Grammar</h4>
              <ul class="semester__discription">
                <li>
                  <p>Nouns & Articles</p>
                </li>
                <li>
                  <p>Adjectives & Adverb</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Vocabulary</h4>
              <ul class="semester__discription">
                <li>
                  <p>Family & Relations</p>
                </li>
                <li>
                  <p>People & Society</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item program--border">
          <h3 class="program__title--counter program__title--pointer">
            <span class="counter">2</span>Семестр
          </h3>
          <ul class="semester">
            <li class="program__semester">
              <h4 class="program__subtitle">Grammar</h4>
              <ul class="semester__discription">
                <li>
                  <p>Pronouns</p>
                </li>
                <li>
                  <p>Active Voice</p>
                </li>
                <li>
                  <p>Passive Voice</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Vocabulary</h4>
              <ul class="semester__discription">
                <li>
                  <p>Home</p>
                </li>
                <li>
                  <p>School</p>
                </li>
                <li>
                  <p>Work</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item program--border">
          <h3 class="program__title--counter"><span class="counter">3</span>Семестр</h3>
          <ul class="semester">
            <li class="program__semester">
              <h4 class="program__subtitle">Grammar</h4>
              <ul class="semester__discription">
                <li>
                  <p>Modal verbs</p>
                </li>
                <li>
                  <p>Infinitive</p>
                </li>
                <li>
                  <p>Gerund</p>
                </li>
                <li>
                  <p>Participle: 1, 2</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Vocabulary</h4>
              <ul class="semester__discription">
                <li>
                  <p>Travel & Tourism</p>
                </li>
                <li>
                  <p>Culture & Free Time</p>
                </li>
                <li>
                  <p>Sport</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Writing</h4>
              <ul class="semester__discription">
                <li>
                  <p>Informal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item program--border">
          <h3 class="program__title--counter"><span class="counter">4</span>Семестр</h3>
          <ul class="semester">
            <li class="program__semester">
              <h4 class="program__subtitle">Grammar</h4>
              <ul class="semester__discription">
                <li>
                  <p>Clauses: Conditional and Wishes</p>
                </li>
                <li>
                  <p>Direct / Reported speech</p>
                </li>
                <li>
                  <p>Preposition</p>
                </li>
                <li>
                  <p>Conjunction</p>
                </li>
                <li>
                  <p>Numeral</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Vocabulary</h4>
              <ul class="semester__discription">
                <li>
                  <p>Healthy Living</p>
                </li>
                <li>
                  <p>Nature & Environment</p>
                </li>
                <li>
                  <p>Money</p>
                </li>
              </ul>
            </li>
            <li class="program__semester">
              <h4 class="program__subtitle">Writing</h4>
              <ul class="semester__discription">
                <li>
                  <p>Formal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__title--counter program_title--border">
            <span class="counter">5</span>Семестр
          </h3>
          <ul class="semester">
            <li class="program__semester">
              <span class="program__subtitle--dash"></span>
              <ul class="semester__discription">
                <li>
                  <p>Revision</p>
                </li>
                <li>
                  <p>Tests</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</section>
